<ul
	xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
	  <a href="index.html">Narrative</a>
	  <ul class="dropdown-menu">
	    <li><a href="references.html">References</a></li>
	  </ul>
	</li>
<!--
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret"></b>
		</a>

	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Functional Description<b class="caret"></b>
		</a>

	</li>
-->
	<li class="dropdown">
		<a data-toggle="dropdown" href="requirements.html" class="dropdown-toggle">Business Requirements<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
		  <li><a href="concepts.html">Key Concepts</a></li>
		  <li><a href="functional.html">Functional Requirements</a></li>
		  <li><a href="personas.html">Personas</a></li>
		  <li><a href="workflows.html">Workflows</a></li>      
		  <li><a href="usecases.html">Use Cases</a></li>
		  <li><a href="dictionary.html">Data Dictionary</a></li>

		</ul>
	</li>

	<li class="dropdown">
		<a data-toggle="dropdown" href="data_exchange.html" class="dropdown-toggle">Data Models and Exchange<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
		  <li><a href="dependencies.html">Dependencies</a></li>
		  <li><a href="actors.html">Actors</a></li>
		  <li><a href="transactions.html">Transactions</a></li>
		  <li><a href="expected_actions.html">Expected Actions</a></li>
		  <li><a href="content_profiles.html">Content Profiles</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="deployment.html" class="dropdown-toggle"> Deployment<b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <li><a href="security_privacy.html">Security and Privacy Considerations</a></li>
		  <li><a href="testing.html">Testing</a></li>
		  <li><a href="instant_openhie.html">Instant OpenHIE</a></li>		  
		  <li><a href="downloads.html">Downloads</a></li>
		</ul>
	</li>

	<li class="dropdown">
		<a data-toggle="dropdown" href="deployment.html" class="dropdown-toggle"> Indices<b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <li><a href="artifacts.html">Artifact Index</a></li>
		</ul>
	</li>
</ul>      
