

        :root {
            --rectangle-color: rgba(255, 255, 255, 0.7);
            --background-color: #155a6b;
            --button-color: #adc3c6;
            --button-hover-color: #64b3bf;

            --show-table: true;
        }
        

         .semi-transparents {
            background-color: var(--rectangle-color);
            border-radius: 25px;
            padding: 25px;
            margin-top: 7px;
            margin-bottom: 20px;
            height: calc(100vh - 27px);
            padding: 0 7px; /* Add padding instead of margin */
            box-sizing: border-box; /* Include padding and border in the element's total width */
        
        } 
        
        .full-width {
            /* width: 100%; */
        }
        






body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
}

.main-container {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 7px auto;
    height: calc(100vh - 27px);
}

.card {
    margin: 7px;
    margin-bottom: 17px;
}
 
        .container-fluid {
            max-width: 80%;
            margin: 17px auto;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 11px;
            padding: 20px;
            min-height: calc(100vh - 34px);
        }

        nav {
            display: flex;
            /* justify-content: center; */
        }

        .nav {
            justify-content: flex-start;
        }

        .nav-tab {
            position: relative;
            padding: 10px;
            margin: 0 10px;
            text-decoration: none;
            color: #333;
            border: 1px solid transparent;
        }

        .nav-tab.active {
            font-weight: bold;
        }

        .nav-tab:focus {
            outline: none;
        }

        .nav-tab::before {
            content: "";
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            border: 1px solid #333;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .nav-tab:hover::before,
        .nav-tab:focus::before,
        .nav-tab.active::before {
            opacity: 1;
        }

        .discrete-button {
            background-color: var(--button-color);
            border-color: var(--button-color);
            color: #000;
        }
        
        .discrete-button:hover,
        .discrete-button:focus {
            background-color: var(--button-hover-color);
            border-color: var(--button-hover-color);
            color: #000;
        }


        .tab-navigation {
            display: none;
        }
        
        body.show-table .tab-navigation {
            display: flex;
        }
        
        .tab-navigation .nav-link {
            cursor: pointer;
            padding: 10px 15px;
            border-top: 1px solid #345 !important; 
            border-left: 1px solid #345 !important;
            border-right: 1px solid #345 !important;
            border-radius: 3px 3px 0 0;
            background-color: var(--rectangle-color);
            color: var(--background-color);
            text-decoration: none;
            /* margin-right: 5px; */
        }


        .custom-nav-tab {
            position: relative;
            padding: 10px;
            margin: 0 10px;
            text-decoration: none;
            color: #333;
            border-top: 1px solid #bcd !important;
            border-left: 1px solid #bcd !important;
            border-right: 1px solid #bcd !important;
            border-radius: 3px 3px 0 0;
        }
        


        .tab-navigation .nav-link:hover,
        .tab-navigation .nav-link:focus {
            background-color: var(--button-hover-color);
            color: var(--background-color);


        }
        
        .tab-navigation .nav-link.active {
            border: none;
            border-top: 2px solid #000;
            border-left: 2px solid #000;
            border-right: 2px solid #000;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            font-weight: bold;
            border-bottom: none !important;
            border-top: 2px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: 2px solid #000 !important;
            border-bottom: none !important;
            border-radius: 5px 5px 0 0;


        }

        .tab-content {
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 7px;
            /* padding: 7px; */
            /* height: calc(100% - 34px); */
            /* overflow-y: auto; */
        }



        #artifacts-table td:first-child {
            font-size: 0.9em;
        }